<!-- 
Starts the `rosbag record` node and records a set of topics for the uuvfloat.
-->
<launch>
  <arg name="record" default="false" doc="Starts the recording node if set to true"/>
  <arg name="bag_filename" default="recording.bag" doc="Filename for the recording ROS bag"/>
  <arg name="use_ned_frame" default="false" doc="If set to true, stores the odometry with respect to NED frame"/>
  <arg name="uuv_name" default="uuvfloat" doc="Namespace of the vehicle"/>

  <group if="$(arg record)">
    <node pkg="rosbag" type="record" name="recording"
      args="record -O $(arg bag_filename)
        /$(arg uuv_name)/dp_controller/trajectory
        /$(arg uuv_name)/dp_controller/reference
        /$(arg uuv_name)/pose_gt_ned
        /hydrodynamics/current_velocity
        /$(arg uuv_name)/thruster_manager/input_stamped
        /$(arg uuv_name)/wrench_perturbation
        /$(arg uuv_name)/thrusters/0/thrust"
      if="$(arg use_ned_frame)"/>

      <node pkg="rosbag" type="record" name="recording"
        args="record -O $(arg bag_filename)
          /$(arg uuv_name)/dp_controller/trajectory
          /$(arg uuv_name)/dp_controller/reference
          /$(arg uuv_name)/pose_gt
          /hydrodynamics/current_velocity
          /$(arg uuv_name)/thruster_manager/input_stamped
          /$(arg uuv_name)/wrench_perturbation
          /$(arg uuv_name)/thrusters/0/thrust"
        unless="$(arg use_ned_frame)"/>
  </group>
</launch>
